@model TravelCardOrderService.Models.Order
@{
    ViewData["Title"] = "FormFinalOrder";
}

<h2>Final order</h2>

<p>
    Mb: @Html.DisplayFor(Model => Model.Mb)
    <br />
    M46: @Html.DisplayFor(Model => Model.M46)
    <br />
    M62: @Html.DisplayFor(Model => Model.M62)
    <br />
    MAb: @Html.DisplayFor(Model => Model.MAb)
    <br />
    MA46: @Html.DisplayFor(Model => Model.MA46)
    <br />
    MA62: @Html.DisplayFor(Model => Model.MA62)
    <br />
    MTRb: @Html.DisplayFor(Model => Model.MTRb)
    <br />
    MTR46: @Html.DisplayFor(Model => Model.MTR46)
    <br />
    MTR62: @Html.DisplayFor(Model => Model.MTR62)
    <br />
    MTb: @Html.DisplayFor(Model => Model.MTb)
    <br />
    MT46: @Html.DisplayFor(Model => Model.MT46)
    <br />
    MT62: @Html.DisplayFor(Model => Model.MT62)
    <br />
    Amount: @Html.DisplayFor(Model => Model.Amount)
    <br />
    Cost: @Html.DisplayFor(Model => Model.Cost)
</p>
