@model TravelCardOrderService.Models.Order

@{
    ViewData["Title"] = "Payment";
    var data = ViewData["data"];
    var signature = ViewData["signature"];
}

<h2>Prepayment</h2>

<div class="form-border">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Mb)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.M46)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.M62)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MAb)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MA46)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MA62)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MTRb)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MTR46)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MTR62)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MTb)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MT46)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.MT62)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Cost)
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(m => m.UserName)
            </td>
            <td>
                @Html.DisplayFor(m => m.Mb)
            </td>
            <td>
                @Html.DisplayFor(m => m.M46)
            </td>
            <td>
                @Html.DisplayFor(m => m.M62)
            </td>
            <td>
                @Html.DisplayFor(m => m.MAb)
            </td>
            <td>
                @Html.DisplayFor(m => m.MA46)
            </td>
            <td>
                @Html.DisplayFor(m => m.MA62)
            </td>
            <td>
                @Html.DisplayFor(m => m.MTRb)
            </td>
            <td>
                @Html.DisplayFor(m => m.MTR46)
            </td>
            <td>
                @Html.DisplayFor(m => m.MTR62)
            </td>
            <td>
                @Html.DisplayFor(m => m.MTb)
            </td>
            <td>
                @Html.DisplayFor(m => m.MT46)
            </td>
            <td>
                @Html.DisplayFor(m => m.MT62)
            </td>
            <td>
                @Html.DisplayFor(m => m.Amount)
            </td>
            <td>
                @Html.DisplayFor(m => m.Cost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="bnt btn-sm btn-success">Edit</a>
            </td>
        </tr>
    </table>
    <form method="POST" action="https://www.liqpay.com/api/3/checkout"
          accept-charset="utf-8">
        <input type="hidden" name="data" value=@data />
        <input type="hidden" name="signature" value=@signature />
        <input type="image"
               src="//static.liqpay.com/buttons/p1en.radius.png" />
    </form>
</div>

